In [2]:
from googleapiclient.discovery import build
import pandas as pd
import altair as alt
import numpy as np
import itertools
import google_auth_oauthlib.flow
import googleapiclient.discovery
import googleapiclient.errors
import requests
import Creds

In [4]:
api_key = Creds.api_key

In [120]:

channel_id = 'UCPcTxBaAhAOTLz1HoIN1quw'# Haily Soni
# Travel Vlog accounts below
channel_ids = ['UC41yKbcN8t3nooiMckDCTXQ', # Rosie McClelland
               'UCkbTTGoBpjX8ogXHCt-aegw', # Sorelle Amore
               'UCJYcxoH_Pg7Aa_BTFM5RudQ', # Nil Sani
               'UC5GU33TiWdq6FI5uoWnW77A', # Morgan Yates
               'UCi4s3kO1-xxCDaw8yX56umw' # Brett Conti
              ]
channel_compare = ['UC41yKbcN8t3nooiMckDCTXQ', # Rosie McClelland
               'UCkbTTGoBpjX8ogXHCt-aegw', # Sorelle Amore
               'UCJYcxoH_Pg7Aa_BTFM5RudQ', # Nil Sani
               'UC5GU33TiWdq6FI5uoWnW77A', # Morgan Yates
               'UCi4s3kO1-xxCDaw8yX56umw', # Brett Conti
               'UCPcTxBaAhAOTLz1HoIN1quw'# Haily Soni
              ]

youtube = build('youtube', 'v3', developerKey=api_key)

# Function to get Personal Channel Statistics

In [3]:
def get_personal_stats(youtube, channel_id):
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=channel_id) 
    response = request.execute() 
    
    data = dict(Channel_name = response['items'][0]['snippet']['title'],
                    Subscribers = response['items'][0]['statistics']['subscriberCount'],
                    Views = response['items'][0]['statistics']['viewCount'],
                    Total_videos = response['items'][0]['statistics']['videoCount'],
                    playlist_id = response['items'][0]['contentDetails']['relatedPlaylists']['uploads'])
#     personal_data = pd.DataFrame(data)
    return data

In [4]:
personal_stats = get_personal_stats(youtube, channel_id)
hailey_playlist = personal_stats["playlist_id"]
personal_stats
# hailey_playlist

{'Channel_name': 'Hailey Sani',
 'Subscribers': '1360000',
 'Views': '119675825',
 'Total_videos': '320',
 'playlist_id': 'UUPcTxBaAhAOTLz1HoIN1quw'}

## Function to get other channels statistics

In [5]:
def get_channel_stats(youtube, channel_ids):
    all_data = []
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_ids) #converts the list of channel IDs to string
    )
    response = request.execute() 
#     print(response)
    for i in range(len(response['items'])): # 
        data = dict(Channel_name = response['items'][i]['snippet']['title'],
                    Subscribers = response['items'][i]['statistics']['subscriberCount'],
                    Views = response['items'][i]['statistics']['viewCount'],
                    Total_videos = response['items'][i]['statistics']['videoCount'],
                    playlist_id = response['items'][i]['contentDetails']['relatedPlaylists']['uploads']
                   )
        all_data.append(data)
    
    return all_data

In [6]:
# Used JSON Formatter to organize the data
# https://jsonformatter.curiousconcept.com/

In [7]:
# info without hailey
channel_statistics = get_channel_stats(youtube, channel_ids)
channel_statistics

[{'Channel_name': 'Sorelle Amore',
  'Subscribers': '1030000',
  'Views': '59734145',
  'Total_videos': '263',
  'playlist_id': 'UUkbTTGoBpjX8ogXHCt-aegw'},
 {'Channel_name': 'Nil Sani',
  'Subscribers': '477000',
  'Views': '41148244',
  'Total_videos': '218',
  'playlist_id': 'UUJYcxoH_Pg7Aa_BTFM5RudQ'},
 {'Channel_name': 'Morgan Yates',
  'Subscribers': '366000',
  'Views': '36547566',
  'Total_videos': '467',
  'playlist_id': 'UU5GU33TiWdq6FI5uoWnW77A'},
 {'Channel_name': 'Brett Conti',
  'Subscribers': '449000',
  'Views': '40927509',
  'Total_videos': '327',
  'playlist_id': 'UUi4s3kO1-xxCDaw8yX56umw'},
 {'Channel_name': 'Rosie McClelland',
  'Subscribers': '886000',
  'Views': '136041547',
  'Total_videos': '407',
  'playlist_id': 'UU41yKbcN8t3nooiMckDCTXQ'}]

In [8]:
# info with hailey
channel_compare = get_channel_stats(youtube, channel_compare)

In [9]:
channel_data = pd.DataFrame(channel_statistics)
compare_data = pd.DataFrame(channel_compare)

In [10]:
# channel_data.dtypes
# need to change datatype from object to INT

In [11]:
channel_data

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,Sorelle Amore,1030000,59734145,263,UUkbTTGoBpjX8ogXHCt-aegw
1,Nil Sani,477000,41148244,218,UUJYcxoH_Pg7Aa_BTFM5RudQ
2,Morgan Yates,366000,36547566,467,UU5GU33TiWdq6FI5uoWnW77A
3,Brett Conti,449000,40927509,327,UUi4s3kO1-xxCDaw8yX56umw
4,Rosie McClelland,886000,136041547,407,UU41yKbcN8t3nooiMckDCTXQ

In [12]:
#https://www.geeksforgeeks.org/python-pandas-to_numeric-method/ 
channel_data['Subscribers'] = pd.to_numeric(channel_data['Subscribers'])
channel_data['Views'] = pd.to_numeric(channel_data['Views'])
channel_data['Total_videos'] = pd.to_numeric(channel_data['Total_videos'])
# channel_data.dtypes

compare_data['Subscribers'] = pd.to_numeric(compare_data['Subscribers'])
compare_data['Views'] = pd.to_numeric(compare_data['Views'])
compare_data['Total_videos'] = pd.to_numeric(compare_data['Total_videos'])

In [13]:
channel_data

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,Sorelle Amore,1030000,59734145,263,UUkbTTGoBpjX8ogXHCt-aegw
1,Nil Sani,477000,41148244,218,UUJYcxoH_Pg7Aa_BTFM5RudQ
2,Morgan Yates,366000,36547566,467,UU5GU33TiWdq6FI5uoWnW77A
3,Brett Conti,449000,40927509,327,UUi4s3kO1-xxCDaw8yX56umw
4,Rosie McClelland,886000,136041547,407,UU41yKbcN8t3nooiMckDCTXQ

In [14]:
alt.Chart(compare_data).mark_bar().encode(
    x='Total_videos',
    y='Channel_name',
    color=alt.condition(
        alt.datum.Channel_name == 'Hailey Sani',  # If the country is "US" this test returns True,
        alt.value('red'),     # highlight a bar with red.
        alt.value('lightgrey')   # And grey for the rest of the bars
     )
).properties(
        height=400,
        width=500)

alt.Chart(...)

In [15]:
alt.Chart(compare_data).mark_bar().encode(
    x='Views',
    y='Channel_name',
    color=alt.condition(
        alt.datum.Channel_name == 'Hailey Sani',  
        alt.value('red'),    
        alt.value('lightgrey') 
        )).properties(
            height=400,
            width=500)

alt.Chart(...)

In [16]:
alt.Chart(compare_data).mark_bar().encode(
    x='Subscribers',
    y='Channel_name',
    color=alt.condition(
        alt.datum.Channel_name == 'Hailey Sani',  # If the country is "US" this test returns True,
        alt.value('red'),     # highlight a bar with red.
        alt.value('lightgrey')   # And grey for the rest of the bars
)).properties(
        height=400,
        width=500)

alt.Chart(...)

## Function to get Playlist ids

In [17]:
playlist_ids = []
for channel in channel_data["Channel_name"]:
    playlist_ids.append(channel_data.loc[channel_data['Channel_name']==channel, 'playlist_id'].iloc[0])
playlist_ids

['UUkbTTGoBpjX8ogXHCt-aegw',
 'UUJYcxoH_Pg7Aa_BTFM5RudQ',
 'UU5GU33TiWdq6FI5uoWnW77A',
 'UUi4s3kO1-xxCDaw8yX56umw',
 'UU41yKbcN8t3nooiMckDCTXQ']

## Function to get video ids

In [18]:
def get_video_ids(youtube, playlist_id):
    
    request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId = playlist_id,
                maxResults = 50)
    response = request.execute()
    
    video_ids = []
    
    for i in range(len(response['items'])):
        video_ids.append(response['items'][i]['contentDetails']['videoId'])
        
    next_page_token = response.get('nextPageToken')
    more_pages = True
    
    while more_pages:
        if next_page_token is None:
            more_pages = False
        else:
            request = youtube.playlistItems().list(
                        part='contentDetails',
                        playlistId = playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
            response = request.execute()
    
            for i in range(len(response['items'])):
                video_ids.append(response['items'][i]['contentDetails']['videoId'])
            
            next_page_token = response.get('nextPageToken')
        
    return video_ids

In [19]:
vids_id = []
for playlist in playlist_ids:
    vids_id += (get_video_ids(youtube, playlist))
print(len(vids_id))

1682

In [20]:
hailey_ids = get_video_ids(youtube,"UUPcTxBaAhAOTLz1HoIN1quw")
rosie_ids = get_video_ids(youtube,"UU41yKbcN8t3nooiMckDCTXQ") 
sorelle_ids = get_video_ids(youtube,"UUkbTTGoBpjX8ogXHCt-aegw") 
nil_ids = get_video_ids(youtube,"UUJYcxoH_Pg7Aa_BTFM5RudQ") 
morgan_ids = get_video_ids(youtube,"UU5GU33TiWdq6FI5uoWnW77A")
brett_ids = get_video_ids(youtube,"UUi4s3kO1-xxCDaw8yX56umw")
# hailey_ids

## Function to get video details

In [21]:
def get_video_details(youtube, video_ids):
    all_video_stats = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
                    part='snippet,statistics',
                    id=','.join(video_ids[i:i+50]),
                    
        )
        response = request.execute()
#         print(response)
        for video in response['items']:
#             print(video["id"])
            view_count = video['statistics']['viewCount']
            try:
                like_count = video['statistics']['likeCount']
            except KeyError:
                like_count = video.get('likeCount', 0)
#             try:
#                 dislike_count = response_video_stats['items'][0]['statistics']['dislikeCount']
#             except:
#                 dislike_count = response_video_stats.get('dislikeCount', 0)
            try:
                comment_count = video['statistics']['commentCount']
            except:
                comment_count = video.get('commentCount', 0)
            if comment_count != 0 and like_count !=0:
#                 print()
                video_stats = dict(Title = video['snippet']['title'],
                                   Published_date = video['snippet']['publishedAt'],
                                   Views = video['statistics']['viewCount'],
                                   Likes = like_count,
                                   Comments = comment_count,
                                   ID = video["id"]
                                   )
            else:
                continue
                
            all_video_stats.append(video_stats)
#             test = pd.DataFrame(all_video_stats)
#             test = test[test.Comments != 0]

            

    
    return all_video_stats

In [79]:
def NA_drop(df):
    count = 0
    for comment in df.Comments:
        if comment == 0 or comment == '0':
            print("test")
            df = df.drop([df.index[count]])
        count+=1
    return df

In [80]:
# print(len(details_rosie))

81

In [82]:
# test = NA_drop(details_rosie)
# # print(len(TEST))
# test

In [83]:
# Creators

details_hailey = get_video_details(youtube, hailey_ids)
details_hailey = pd.DataFrame(details_hailey)
details_hailey = NA_drop(details_hailey)
# details_hailey["ID"] = hailey_ids

details_rosie = get_video_details(youtube, rosie_ids)
details_rosie = pd.DataFrame(details_rosie)
details_rosie = NA_drop(details_rosie)

# details_rosie["ID"] = rosie_ids

details_sorelle = get_video_details(youtube, sorelle_ids)
details_sorelle = pd.DataFrame(details_sorelle)
details_sorelle = NA_drop(details_sorelle)

# details_sorelle["ID"] = sorelle_ids

details_nil = get_video_details(youtube, nil_ids)
details_nil = pd.DataFrame(details_nil)
details_nil = NA_drop(details_nil)

# details_nil["ID"] = nil_ids

details_morgan = get_video_details(youtube, morgan_ids)
details_morgan = pd.DataFrame(details_morgan)
details_morgan = NA_drop(details_morgan)

# details_morgan["ID"] = morgan_ids

details_brett = get_video_details(youtube, brett_ids)
details_brett = pd.DataFrame(details_brett)
details_brett = NA_drop(details_brett)

# details_brett["ID"] = brett_ids

test

In [84]:
# details_hailey

In [85]:
#Total vids
video_details = get_video_details(youtube, vids_id)

In [86]:
video_data = pd.DataFrame(video_details)
video_data
# video_data["IDs"] = vids_id
video_data_hours = pd.DataFrame(video_details)

In [87]:
video_data

,Title,Published_date,Views,Likes,Comments,ID
0,"My new Reykjavik, Iceland apartment tour. It's...",2022-03-31T14:37:00Z,80271,3560,350,7l5tJmh5O-o
1,Navigating your inner landscape through troubl...,2022-02-28T14:59:59Z,42708,2634,323,msKHXJN9eOw
2,Embracing Change - The Only Constant in Life,2022-01-31T14:34:29Z,65131,2862,198,n2Vgw9g_1Vo
3,I Am Enough - Discovering My REAL Self Worth,2021-12-31T22:52:02Z,64534,4631,327,aZjHhpw62mQ
4,My happiness plan - learning to put my needs f...,2021-11-30T12:00:04Z,69732,4430,304,3WoZD1kYez4
...,...,...,...,...,...,...
1337,SHEIN Haul Packing For VACAY | Rosie McClelland,2021-07-17T15:00:03Z,95158,3477,254,BtoAwl2eb6A
1338,Getting BRACES Before And After | Rosie McClel...,2021-07-10T07:00:10Z,168319,5101,332,HQZ8KYcsSVc
1339,We Cut My Aunties Hair Off! It Went Wrong! | R...,2021-07-09T15:00:29Z,47562,1736,116,M7aSahSPW98
1340,My HAIR CARE Routine | Easy Summer Curls | Ros...,2021-07-03T07:00:00Z,52807,2075,153,0CO7hsWXN1o
1341,Reacting to HATE Comments | THEN and NOW | Ros...,2021-07-02T15:00:10Z,74955,3230,619,9hOt_xuO6R8

In [88]:
hour = []
for date in video_data["Published_date"]:
    hr = date[11:13]
    hour.append(hr)
print(len(hour))

1342

In [89]:
def convert(video_data):
    hour = []
    for date in video_data["Published_date"]:
        hr = date[11:13]
        hour.append(hr)
    return hour

In [90]:
video_data_hours["Published_date"] = convert(video_data)
DatDataFrame = video_data_hours.rename(columns={'Published_date':'Hour_posted'})
DatDataFrame

,Title,Hour_posted,Views,Likes,Comments,ID
0,"My new Reykjavik, Iceland apartment tour. It's...",14,80271,3560,350,7l5tJmh5O-o
1,Navigating your inner landscape through troubl...,14,42708,2634,323,msKHXJN9eOw
2,Embracing Change - The Only Constant in Life,14,65131,2862,198,n2Vgw9g_1Vo
3,I Am Enough - Discovering My REAL Self Worth,22,64534,4631,327,aZjHhpw62mQ
4,My happiness plan - learning to put my needs f...,12,69732,4430,304,3WoZD1kYez4
...,...,...,...,...,...,...
1337,SHEIN Haul Packing For VACAY | Rosie McClelland,15,95158,3477,254,BtoAwl2eb6A
1338,Getting BRACES Before And After | Rosie McClel...,07,168319,5101,332,HQZ8KYcsSVc
1339,We Cut My Aunties Hair Off! It Went Wrong! | R...,15,47562,1736,116,M7aSahSPW98
1340,My HAIR CARE Routine | Easy Summer Curls | Ros...,07,52807,2075,153,0CO7hsWXN1o
1341,Reacting to HATE Comments | THEN and NOW | Ros...,15,74955,3230,619,9hOt_xuO6R8

In [91]:
# DatDataFrame["Title"] = DatDataFrame["Title"]
DatDataFrame['Title'].astype(str)
DatDataFrame["Hour_posted"] = pd.to_numeric(DatDataFrame["Hour_posted"])
DatDataFrame["Views"] = pd.to_numeric(DatDataFrame["Views"])
DatDataFrame["Likes"] = pd.to_numeric(DatDataFrame["Likes"])
DatDataFrame["Comments"] = pd.to_numeric(DatDataFrame["Comments"])

In [92]:
DatDataFrame = NA_drop(DatDataFrame)

test

In [93]:
DatDataFrame

,Title,Hour_posted,Views,Likes,Comments,ID
0,"My new Reykjavik, Iceland apartment tour. It's...",14,80271,3560,350,7l5tJmh5O-o
1,Navigating your inner landscape through troubl...,14,42708,2634,323,msKHXJN9eOw
2,Embracing Change - The Only Constant in Life,14,65131,2862,198,n2Vgw9g_1Vo
3,I Am Enough - Discovering My REAL Self Worth,22,64534,4631,327,aZjHhpw62mQ
4,My happiness plan - learning to put my needs f...,12,69732,4430,304,3WoZD1kYez4
...,...,...,...,...,...,...
1337,SHEIN Haul Packing For VACAY | Rosie McClelland,15,95158,3477,254,BtoAwl2eb6A
1338,Getting BRACES Before And After | Rosie McClel...,7,168319,5101,332,HQZ8KYcsSVc
1339,We Cut My Aunties Hair Off! It Went Wrong! | R...,15,47562,1736,116,M7aSahSPW98
1340,My HAIR CARE Routine | Easy Summer Curls | Ros...,7,52807,2075,153,0CO7hsWXN1o
1341,Reacting to HATE Comments | THEN and NOW | Ros...,15,74955,3230,619,9hOt_xuO6R8

In [94]:
def engage(group):
    group.loc[(group!=0).any(axis=1)]
    engagement_score = [] 
    for l, c in zip(group["Likes"],group["Comments"]):
        if int(c) == 0:
            continue
        else:
            calc = (float(c) / float(l)) 
#             calc = "{:.1%}".format(calc)
            calc = calc * 100
        engagement_score.append(round(calc,2))
        
    return engagement_score

# (100*float(tip)/meal)

In [95]:
DatDataFrame["Engagement_ratio"] = engage(DatDataFrame)
DatDataFrame

,Title,Hour_posted,Views,Likes,Comments,ID,Engagement_ratio
0,"My new Reykjavik, Iceland apartment tour. It's...",14,80271,3560,350,7l5tJmh5O-o,9.83
1,Navigating your inner landscape through troubl...,14,42708,2634,323,msKHXJN9eOw,12.26
2,Embracing Change - The Only Constant in Life,14,65131,2862,198,n2Vgw9g_1Vo,6.92
3,I Am Enough - Discovering My REAL Self Worth,22,64534,4631,327,aZjHhpw62mQ,7.06
4,My happiness plan - learning to put my needs f...,12,69732,4430,304,3WoZD1kYez4,6.86
...,...,...,...,...,...,...,...
1337,SHEIN Haul Packing For VACAY | Rosie McClelland,15,95158,3477,254,BtoAwl2eb6A,7.31
1338,Getting BRACES Before And After | Rosie McClel...,7,168319,5101,332,HQZ8KYcsSVc,6.51
1339,We Cut My Aunties Hair Off! It Went Wrong! | R...,15,47562,1736,116,M7aSahSPW98,6.68
1340,My HAIR CARE Routine | Easy Summer Curls | Ros...,7,52807,2075,153,0CO7hsWXN1o,7.37
1341,Reacting to HATE Comments | THEN and NOW | Ros...,15,74955,3230,619,9hOt_xuO6R8,19.16

In [96]:
# test

In [97]:
hour = convert(details_hailey)
details_hailey["Hour_posted"] = hour
details_hailey

,Title,Published_date,Views,Likes,Comments,ID,Hour_posted
0,"TMI GIRL TALK: Cumming, Tampon Brand Deals, Ch...",2022-04-29T17:01:04Z,5302,582,46,wGdE83wzvuQ,17
1,NEW TMI GIRL TALK 🫢 TOMORROW AT 10AM #shorts,2022-04-28T20:41:23Z,8064,273,18,fMOM_n2QbJo,20
2,pre-coachella festivities 🎡✨🎶🌵🧚‍♀️🍄💓 #coachella,2022-04-14T18:15:19Z,13026,637,12,1JxofomQoIg,18
3,Unboxing 6 Months of PR Packages,2022-04-12T17:26:30Z,44601,3157,1089,hZ5aPcg-xdM,17
4,"What $5M Gets You in Marbella, Spain | HOUSE TOUR",2022-04-03T18:21:56Z,33070,1426,44,scRvitJelWs,18
...,...,...,...,...,...,...,...
293,How To Be Beautiful.,2014-10-04T17:01:14Z,834902,21692,2959,paxElQXp0oI,17
294,Easy & Healthy Food Ideas! | DIY,2014-07-24T20:30:01Z,198357,4776,226,x2mQYdyzpOI,20
295,THE BEST FRIEND TAG,2014-02-09T18:30:00Z,73494,964,74,RG_GvVNSbW8,18
296,The Sister TAG!,2014-01-23T19:37:15Z,131413,2458,208,ZaFuLILTE7E,19
297,DIY Vanilla Bean Frappuccino!,2013-09-27T15:37:10Z,231816,3274,222,-068juitfX4,15

In [98]:
print(len(engage(details_rosie)))

80

In [99]:
details_rosie

,Title,Published_date,Views,Likes,Comments,ID
1,Day In The LIFE of a BRITISH TEEN VLOG | Rosie...,2022-04-23T09:15:53Z,62394,2522,130,9p2WlMsM0_E
2,My After School Routine! HOMEWORK and EXAM Rev...,2022-04-22T14:58:29Z,100972,3706,192,VWnMOCLQbqA
3,My LA Travel Vlog | Rosie McClelland,2022-04-16T15:11:30Z,78388,2805,151,lAljZ472Juw
4,Best Friends In LA Vlog! | Rosie McClelland,2022-04-15T14:49:16Z,48872,1969,77,QLSoFMx-AIk
5,PREPARING For LA Pack With Me! | Rosie McClelland,2022-04-09T16:18:27Z,73748,2701,151,-4eF8_vDA7Y
...,...,...,...,...,...,...
76,SHEIN Haul Packing For VACAY | Rosie McClelland,2021-07-17T15:00:03Z,95158,3477,254,BtoAwl2eb6A
77,Getting BRACES Before And After | Rosie McClel...,2021-07-10T07:00:10Z,168319,5101,332,HQZ8KYcsSVc
78,We Cut My Aunties Hair Off! It Went Wrong! | R...,2021-07-09T15:00:29Z,47562,1736,116,M7aSahSPW98
79,My HAIR CARE Routine | Easy Summer Curls | Ros...,2021-07-03T07:00:00Z,52807,2075,153,0CO7hsWXN1o
80,Reacting to HATE Comments | THEN and NOW | Ros...,2021-07-02T15:00:10Z,74955,3230,619,9hOt_xuO6R8

In [100]:
details_hailey["Engagement_ratio"] = engage(details_hailey)
details_rosie["Engagement_ratio"] = engage(details_rosie)
details_sorelle["Engagement_ratio"] = engage(details_sorelle)
details_nil["Engagement_ratio"] = engage(details_nil)
details_morgan["Engagement_ratio"] = engage(details_morgan)
details_brett["Engagement_ratio"] = engage(details_brett)
# details_rosie

In [101]:

hailey_eng_avg = details_hailey['Engagement_ratio'].mean()

rosie_eng_avg = details_rosie['Engagement_ratio'].mean()

sorelle_eng_avg = details_sorelle['Engagement_ratio'].mean()

nil_eng_avg = details_nil['Engagement_ratio'].mean()

morgan_eng_avg = details_morgan['Engagement_ratio'].mean()

brett_eng_avg = details_brett['Engagement_ratio'].mean()

data_engage = dict(Hailey = hailey_eng_avg,
                   Rosie = rosie_eng_avg,
                   Sorelle = sorelle_eng_avg,
                   Nil = nil_eng_avg,
                   Morgan = morgan_eng_avg,
                   Brett = (brett_eng_avg)

)

In [102]:
top100_videos_views = DatDataFrame.sort_values(by='Views', ascending=False).head(100)
top100_videos_views

,Title,Hour_posted,Views,Likes,Comments,ID,Engagement_ratio
163,HOW TO POSE IN PHOTOS - 9 Tricks Pros Use to L...,17,8620873,268073,3269,UQePS1HEtHE,1.22
1032,What Can $100 Get in VIETNAM (World's Cheapest...,13,3652979,75708,6429,Mp-v65Fl9HM,8.49
225,"NEVER GOOD ENOUGH (Body Hate, Different Body T...",6,3015755,110411,4868,XeG0Zr1oiLM,4.41
538,Abs in 2 weeks?! I tried Chloe Ting's Ab Chall...,17,2959947,39778,708,tFJ0qGAKrlo,1.78
730,16 OUTFITS FROM 10 ITEMS | Spring Capsule Ward...,22,2013152,25699,534,4oQuRW97ru0,2.08
...,...,...,...,...,...,...,...
431,HOW TO DRESS LIKE KENDALL JENNER // GET THE LO...,18,360249,12471,248,iJdhiTAxGqE,1.99
305,REACTING TO MY DREAM COLLEGE DECISION (NYU)!,18,360081,15934,1190,8n0NjG4VoxM,7.47
969,I Worked for Uber Eats in NYC for 24 Hours & M...,15,355871,10811,761,DOsAbnvQ26E,7.04
10,I tried DMT...it was hell,16,352563,15324,3841,_wcZw8lIUSo,25.07
41,Pros and Cons of Living in Iceland (Australian...,13,350263,11003,776,PdEuQUipiBQ,7.05

In [103]:
top100_videos_eng = top100_videos_views.sort_values(by='Engagement_ratio', ascending=False).head(100)
# top25_videos_eng['Engagement_ratio'] = 
top100_videos_eng.head()

,Title,Hour_posted,Views,Likes,Comments,ID,Engagement_ratio
705,100 Signs You're A Basic Girl,16,937963,24550,12905,FB-YHk3CoBY,52.57
10,I tried DMT...it was hell,16,352563,15324,3841,_wcZw8lIUSo,25.07
898,How to Color Your Hair With Chalk Pastels!,19,1371024,4153,713,Cuc9VKFwVog,17.17
1109,is Turkey Safe to Travel?,0,853486,34199,5476,P1Si_nR48fo,16.01
1089,What Can $100 Get in the PHILIPPINES ??,19,1643646,32793,4922,h_jBTJd6aXU,15.01

In [104]:
post_views = top100_videos_views.groupby('Hour_posted', as_index=False).size()
post_views

    Hour_posted  size
0             0     1
1             1     1
2             3     1
3             4     1
4             5     1
5             6     2
6             7     1
7             8     2
8             9     1
9            10     1
10           11     2
11           12     1
12           13     9
13           14    13
14           15     7
15           16     6
16           17    15
17           18    11
18           19    16
19           20     4
20           21     1
21           22     1
22           23     2

In [105]:
# test = top100_videos.groupby("Hour Posted")
top_eng_videos_per_hour = top100_videos_eng.groupby('Hour_posted', as_index=False).size()
top_eng_videos_per_hour = top_eng_videos_per_hour.sort_values('size', ascending=False)
top_eng_videos_per_hour

    Hour_posted  size
18           19    16
16           17    15
13           14    13
17           18    11
12           13     9
14           15     7
15           16     6
19           20     4
22           23     2
5             6     2
7             8     2
10           11     2
21           22     1
20           21     1
0             0     1
1             1     1
9            10     1
8             9     1
6             7     1
4             5     1
3             4     1
2             3     1
11           12     1

In [106]:
alt.Chart(top_eng_videos_per_hour).mark_bar().encode(
    x='Hour_posted',
    y=alt.Y('size', title = "Count")
).properties(
        height=600,
        width=800,
        title='Competitor Popular Posting Times Sorted By Highest Engagement (Military Time)'
)

alt.Chart(...)

In [107]:

alt.Chart(post_views).mark_bar().encode(
    x='Hour_posted',
#     y='size'
    y=alt.Y('size', title = "Count")
#     y=alt.Y('size', sort='-x')
).properties(
        height=600,
        width=800,
        title='Competitor Popular Posting Times Sorted By Highest Views (Military Time)'
)

alt.Chart(...)

In [108]:
# Look into time zones
# do certain video categories post at certain times. Post time by video category.

In [109]:
video_data['Month'] = pd.to_datetime(video_data['Published_date']).dt.strftime('%b')

In [110]:
video_data
# list of titles, maybe be able to search through titles.
# what time are similar account posting 1
# how does posting frequency correlate with follower count. 
# Find titles that include makeup - extracting keywords based on a category in relation to competitors top videos - compare to client.

,Title,Published_date,Views,Likes,Comments,ID,Month
0,"My new Reykjavik, Iceland apartment tour. It's...",2022-03-31T14:37:00Z,80271,3560,350,7l5tJmh5O-o,Mar
1,Navigating your inner landscape through troubl...,2022-02-28T14:59:59Z,42708,2634,323,msKHXJN9eOw,Feb
2,Embracing Change - The Only Constant in Life,2022-01-31T14:34:29Z,65131,2862,198,n2Vgw9g_1Vo,Jan
3,I Am Enough - Discovering My REAL Self Worth,2021-12-31T22:52:02Z,64534,4631,327,aZjHhpw62mQ,Dec
4,My happiness plan - learning to put my needs f...,2021-11-30T12:00:04Z,69732,4430,304,3WoZD1kYez4,Nov
...,...,...,...,...,...,...,...
1337,SHEIN Haul Packing For VACAY | Rosie McClelland,2021-07-17T15:00:03Z,95158,3477,254,BtoAwl2eb6A,Jul
1338,Getting BRACES Before And After | Rosie McClel...,2021-07-10T07:00:10Z,168319,5101,332,HQZ8KYcsSVc,Jul
1339,We Cut My Aunties Hair Off! It Went Wrong! | R...,2021-07-09T15:00:29Z,47562,1736,116,M7aSahSPW98,Jul
1340,My HAIR CARE Routine | Easy Summer Curls | Ros...,2021-07-03T07:00:00Z,52807,2075,153,0CO7hsWXN1o,Jul
1341,Reacting to HATE Comments | THEN and NOW | Ros...,2021-07-02T15:00:10Z,74955,3230,619,9hOt_xuO6R8,Jul

In [111]:
videos_per_month = video_data.groupby('Month', as_index=False).size()

In [112]:
videos_per_month

   Month  size
0    Apr   133
1    Aug    97
2    Dec   134
3    Feb   101
4    Jan   108
5    Jul   108
6    Jun   116
7    Mar   110
8    May   108
9    Nov   107
10   Oct   119
11   Sep   101

In [113]:
sort_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
             'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [114]:
videos_per_month.index = pd.CategoricalIndex(videos_per_month['Month'], categories=sort_order, ordered=True)
videos_per_month

      Month  size
Month
Apr     Apr   133
Aug     Aug    97
Dec     Dec   134
Feb     Feb   101
Jan     Jan   108
Jul     Jul   108
Jun     Jun   116
Mar     Mar   110
May     May   108
Nov     Nov   107
Oct     Oct   119
Sep     Sep   101

# This is a dataframe that takes the top 5 most engaged videos out of the 100 most viewed posts made by competitors

In [115]:
top_hun = DatDataFrame.sort_values(by='Views', ascending=False).head(100)
most_engaged_five = top_hun.sort_values(by='Engagement_ratio', ascending=True).head(5)
most_engaged_five

,Title,Hour_posted,Views,Likes,Comments,ID,Engagement_ratio
525,"30 BEST AMAZON HOME PRODUCTS! furniture, decor...",18,671416,18302,172,prOc2yUpNTA,0.94
163,HOW TO POSE IN PHOTOS - 9 Tricks Pros Use to L...,17,8620873,268073,3269,UQePS1HEtHE,1.22
446,WHAT I EAT IN A DAY #2 | Nil Sani,23,1126511,30172,425,jy-ShtuexuY,1.41
281,MOVE-IN TO COLLEGE WITH ME *NYU move-in day vlog*,14,443299,16820,259,3aJqC_cXuXM,1.54
443,HOW TO GET ABS // AB WORKOUT ROUTINE | Nil Sani,18,1627294,55009,893,HICDqXc9YoU,1.62

# This is a dataframe that takes the top 5 most engaged videos out of the 100 most viewed posts made by Hailey

In [116]:
top_hun_hailey = details_hailey.sort_values(by='Views', ascending=False).head(100)
five_most_engaged_hailey = top_hun_hailey.sort_values(by='Engagement_ratio', ascending=True).head(5)
five_most_engaged_hailey

,Title,Published_date,Views,Likes,Comments,ID,Hour_posted,Engagement_ratio
203,My WORKOUT ROUTINE | What I Do With my Trainer!,2017-10-08T17:25:06Z,877507,39450,509,MNWz0oNTij0,17,1.29
204,GET THE LOOK: Models Off-Duty for LESS | Kenda...,2017-09-30T18:40:40Z,911631,33339,501,h2fIwtxEfVE,18,1.50
24,Buy 💸 or Bye Bye 👋🏼 Ep. 1 | Monthly Empties Re...,2021-06-01T16:48:43Z,40073,1459,23,ezjokLGj57Q,16,1.58
224,MY WORKOUT ROUTINE! Get ABS & BUTT for SUMMER!,2017-03-27T16:59:46Z,899387,39136,755,5gsJpbuJ6BE,16,1.93
151,Get Healthy/Fit with Me! What I Eat in a Day +...,2018-10-13T18:19:28Z,407934,14777,296,m0qHxiWCRLI,18,2.00

In [117]:
videos_per_month = videos_per_month.sort_index()
videos_per_month

      Month  size
Month
Jan     Jan   108
Feb     Feb   101
Mar     Mar   110
Apr     Apr   133
May     May   108
Jun     Jun   116
Jul     Jul   108
Aug     Aug    97
Sep     Sep   101
Oct     Oct   119
Nov     Nov   107
Dec     Dec   134

In [118]:
alt.Chart(videos_per_month).mark_bar().encode(
    x='size',
    y='Month'
    
#     y=alt.Y('size', sort='-x')
).properties(
        height=600,
        width=800,
        title='Competitor monthly posting times'
)

alt.Chart(...)